<!DOCTYPE html>
<html lang="es">
  <head>
  	<meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
  </head>
  <body>
  	<div id="page-wrap">
	    <header class='cabecera' id='h1'>
        	Ejercicio de superheroes
	    </header>

	    <section class='main' id='s1'>
	    	<%- body %>
	    </section>

	    <footer class='pie' id='f1'>
	    	<a href="https://franl2p.wordpress.com/" target="_blank">El blog de Fran</a>
	    </footer>
    </div>
  </body>
</html>